html, body {
  margin:0;
  padding:0;
  top:0;
  font-family: 'Montserrat', sans-serif;
}

  
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  
  .modal2 {
    display: none;
    position:absolute;
    z-index: 100;
    left:30%;
    top: 1%;
    width: 10%;
    height: 19%;
    border-radius: 4px;
    padding: 5px;
    /* overflow: auto; */
    /* background-color: rgb(0,0,0); */
    background-color:#4c5d6b;
    
  }
.mod{
  transition: all ease-in-out .5s;
}

  #error{
    line-height: 15px;
    font-size: 11px;
    font-weight: 600;
    color: white;

    }
  
  button{
    padding: 10px 22px;
    background-color:blue;
    color: white;
    border-radius: 5px;
    font-size: 18px;


  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    
  }
  
  .close {
    color: #c8c7c7;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:red;
    text-decoration: none;
    cursor: pointer;
  }
  
  *{
    box-sizing: border-box;
    outline:none; 
}
h1 {
  color:#fff;
  padding: 10px;
  background: rgba(0,0,0,0.65);
  display:inline-block;
}
#h1Wrap {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position:relative;
  z-index: 2;
}
h2 {
  display:inline-block;
  margin:0;
}
h3 {
  text-align:center;
  margin:0 0 5px 0;
  font-size: x-large;
}

h4{
    display:inline-block;
    margin:0;

}
#taxResult{
font-size: 17px;
color:rgb(30, 1, 142);
font-weight: 700;
}
#header {
  height:30%;
  width:100%;
  background:#ccc;
  position:absolute;
  margin-top:0;
  display: table;
}
#content {
  height:80%;
  width:100%;
  top:30%;
  position:absolute;
  overflow:auto;
  display:inline-block;
}

#container {
  display: block;
  margin:0 auto;
  padding:10px;
  width:50%;
}
@media (max-width:1366px) {
  #container {
    width:75%;
  }
}
@media (max-width:768px) {
  #container {
    width:90%;
  }
}
@media (max-width:480px) {
  #container {
    width:100%;
    padding:0px;

  }
}
.card {
  padding:10px;
  margin: 1.5em;
  background: #c9cac728;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #eee;
}
input {
  display:block;
  margin:0px 0px -5px 0px;
  width:100%;
  padding: 7px 0px;
}

#age{display:block;
    margin:0px 0px 5px 0px;
    width:100%;
    padding: 7px 0px;

}
.error-icon {
  display: none;
  position: relative;
  top: 35px;
  margin-left: 5px;
}

  

.ri-question-line{
  font-size: 17px;
    cursor: pointer;
}




.slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
            animation-name: kenburns;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: img1;
            animation-name: img1;
    z-index: 3;
    background-image:url('https://english.cdn.zeenews.com/sites/default/files/2022/06/22/1056525-untitled-design-3.jpg');
  }
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: img2;
            animation-name: img2;
    z-index: 2;
    background-image:url('https://oneclickbusinesssolutions.com/images/brand/income-tax-return-img.jpg');
  }
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: img3;
            animation-name: img3;
    z-index: 1;
    background-image:url('https://image.shutterstock.com/image-photo/new-indian-currency-2000500200502010-background-260nw-1668694636.jpg');
  }
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: img4;
            animation-name: img4;
    z-index: 0;
    background-image:url('https://www.stpaul.gov/sites/default/files/Media%20Root/Financial%20Services/20140910-OFS_Banner.jpg');
  }
  
  @-webkit-keyframes img1 {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    2% {
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    27% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    98% {
      opacity: 0;
      -webkit-transform: scale(1.2117647059);
              transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes img1 {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    2% {
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    27% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    98% {
      opacity: 0;
      -webkit-transform: scale(1.2117647059);
              transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes img2 {
    24% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    27% {
      opacity: 1;
    }
    48% {
      opacity: 1;
    }
    52% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes img2 {
    24% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    27% {
      opacity: 1;
    }
    48% {
      opacity: 1;
    }
    52% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @-webkit-keyframes img3 {
    48% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    52% {
      opacity: 1;
    }
    73% {
      opacity: 1;
    }
    77% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes img3 {
    48% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    52% {
      opacity: 1;
    }
    73% {
      opacity: 1;
    }
    77% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @-webkit-keyframes img4 {
    73% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    77% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes kenburns-4 {
    73% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    77% { 
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }



  .tooltip,.tooltip2,.tooltip3 {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -2.7%;
    font-size: 22px;
    color: #888;
    padding-right: 3px;
  }

  

.error-message ,.error-message2,.error-message3 {
  background-color:#4c5d6b;
margin-right:-14vw ;
margin-top:-4.5vw;
  float: right;
    display: none;
    color: white;
    border: 1px solid black;
    padding: 7px 12px;
    border-radius: 2px;
    font-size: 12px;
}

